@model MvcCreditApp1.Models.Credit

@{
    ViewData["Title"] = "Детали";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Детали</h1>

<div>
    <h4>Кредит</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Head)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Head)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Procent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Procent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CreditId">Edit</a> |
    @Html.ActionLink("Вернуться в список", "Index")
</div>
